
packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
*.nupkg
WebAPIApp/bin/Antlr3.Runtime.dll
WebAPIApp/bin/Antlr3.Runtime.pdb
WebAPIApp/bin/Microsoft.Web.Infrastructure.dll
WebAPIApp/bin/Newtonsoft.Json.dll
WebAPIApp/bin/Newtonsoft.Json.xml
WebAPIApp/bin/System.Net.Http.Formatting.dll
WebAPIApp/bin/System.Net.Http.Formatting.xml
WebAPIApp/bin/System.Web.Helpers.dll
WebAPIApp/bin/System.Web.Helpers.xml
WebAPIApp/bin/System.Web.Http.dll
WebAPIApp/bin/System.Web.Http.WebHost.dll
WebAPIApp/bin/System.Web.Http.WebHost.xml
WebAPIApp/bin/System.Web.Http.xml
WebAPIApp/bin/System.Web.Mvc.dll
WebAPIApp/bin/System.Web.Mvc.xml
WebAPIApp/bin/System.Web.Optimization.dll
WebAPIApp/bin/System.Web.Optimization.xml
WebAPIApp/bin/System.Web.WebPages.Deployment.dll
WebAPIApp/bin/System.Web.WebPages.Deployment.xml
WebAPIApp/bin/System.Web.WebPages.dll
WebAPIApp/bin/System.Web.WebPages.Razor.dll
WebAPIApp/bin/System.Web.WebPages.Razor.xml
WebAPIApp/bin/System.Web.WebPages.xml
WebAPIApp/bin/WebAPIApp.dll
WebAPIApp/bin/WebAPIApp.dll.config
WebAPIApp/bin/WebAPIApp.pdb
WebAPIApp/bin/WebGrease.dll
WebAPIApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebAPIApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebAPIApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebAPIApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebAPIApp/obj/Debug/WebAPIApp.csproj.FileListAbsolute.txt
WebAPIApp/obj/Debug/WebAPIApp.csprojResolveAssemblyReference.cache
WebAPIApp/obj/Debug/WebAPIApp.dll
WebAPIApp/obj/Debug/WebAPIApp.pdb
WebAPIApp/packages.config
WebAPIApp/Project_Readme.html
WebAPIApp/Properties/AssemblyInfo.cs
WebAPIApp/Scripts/_references.js
WebAPIApp/Scripts/bootstrap.js
WebAPIApp/Views/Web.config
WebAPIApp/Views/Studens/Index.cshtml
WebAPIApp/Views/Shared/Error.cshtml
WebAPIApp/Views/Shared/_Layout.cshtml
WebAPIApp/Views/Home/Index.cshtml
WebAPIApp/Views/_ViewStart.cshtml
WebAPIApp/Scripts/respond.min.js
WebAPIApp/Scripts/respond.js
WebAPIApp/Scripts/modernizr-2.6.2.js
WebAPIApp/Scripts/jquery-1.10.2.min.map
WebAPIApp/Scripts/jquery-1.10.2.min.js
WebAPIApp/Scripts/jquery-1.10.2.js
WebAPIApp/Scripts/jquery-1.10.2.intellisense.js
WebAPIApp/Scripts/bootstrap.min.js

WebAPIApp/index.html
WebAPIApp/Global.asax.cs
WebAPIApp/Global.asax
WebAPIApp/fonts/glyphicons-halflings-regular.eot
WebAPIApp/fonts/glyphicons-halflings-regular.svg
WebAPIApp/fonts/glyphicons-halflings-regular.ttf
WebAPIApp/fonts/glyphicons-halflings-regular.woff
WebAPIApp/Web.config
WebAPIApp/Web.Debug.config
WebAPIApp/Web.Release.config
WebAPIApp/WebAPIApp.csproj
WebAPIApp/WebAPIApp.csproj.user
*.dll
*.xml
*.ps1
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Web.config
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Shared/_Layout.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/Index.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml.pp
packages/bootstrap.3.0.0/content/Content/bootstrap.css
packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
packages/Microsoft.AspNet.WebApi.Core.5.0.0/content/web.config.transform
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/ApiDescriptionExtensions.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/App_Start/HelpPageConfig.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Controllers/HelpController.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/HelpPage.css.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/HelpPageAreaRegistration.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/HelpPageConfigurationExtensions.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Models/HelpPageApiModel.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/HelpPageSampleGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/HelpPageSampleKey.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/ImageSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/InvalidSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/ObjectGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/SampleDirection.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/TextSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/_ViewStart.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/Api.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/XmlDocumentationProvider.cs.pp
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nuspec
packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
packages/repositories.config
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/tools/WG.exe
WebAPIApp.sln
WebAPIApp/App_Start/BundleConfig.cs
WebAPIApp/App_Start/FilterConfig.cs
WebAPIApp/App_Start/RouteConfig.cs
WebAPIApp/App_Start/WebApiConfig.cs
WebAPIApp/Content/bootstrap.css
WebAPIApp/Content/bootstrap.min.css
WebAPIApp/Content/Site.css
WebAPIApp/Areas/HelpPage/XmlDocumentationProvider.cs
WebAPIApp/Areas/HelpPage/Views/Web.config
WebAPIApp/Areas/HelpPage/Views/Shared/_Layout.cshtml
